<div class="text-center">
<%=image_tag"twitter-logo.png"%>
</div>

<h1>about votieo</h1>

<p class="text-center">votieo is a live feed of user submitted video content from around the internet. <br> You can explore, share and discuss the most popular videos from multiple platforms all in one place.
	<br>To put it simply votieo is the next step in social content aggregation.</p> 

<h4 class="text-center" > contact us  </h4>

<p class="text-center"> 
	support: <a href= "mailto:support@tapedek.com?">support@votieo.com </a> <br>
    press or general inquiries: <a href= "mailto:info@tapedek.com?">info@votieo.com </a>
</p>

<h4 class="text-center">love votieo?</h1>

<p class= "text-center"> Creating and maintaining the most awesomest website on the internet isn't cheap. <br>
 If you enjoy tapedek, why not show us some love? </p>

<form ckass="text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCB1A7S9IBiBC4Zy2iVaAoS9aBlFQdCNavGTn/1x58xWjABcbBAG8ahbhYPTBhJcnNm6R8OjTVTuHFKpShoWDZIu+/hyyQUBWqhMybzu6fO9xdJNMQuA6sjxhepraWbLb6Esn7+YkcR9NU91wHPPCoG0VbTzJXOSmWmhmTblINBMjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQItoXuGxuFUN2AgaB1hjiNWadvs1tU5n19jJp8w41aNpXbawdD36FqVbvVS/zma23ugZRE7HiJzBwPcGeizx2nz5Hb8MAaDiTK+mTT20EHlM5phOex+eQ8qR2nwoYLs44JpDViAddl08mziKQ6xCp+ChBMuBkwE2rqIBJdv0R9+D33Lfnp2wF9KQ2jbjtPwQsHPR82qCSMEw1p1FF85Sdk6Mc+7uqfiUbwUg1OoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUxMDA0MDA1NzEwWjAjBgkqhkiG9w0BCQQxFgQUKIqDAggyfpBQBqffXCWeuz1louYwDQYJKoZIhvcNAQEBBQAEgYAq4umbMPOVOH4fbRNuDsGb4bjOSQ7J3fBT2rb1znQa2sUOJHIPSOZamJMywpVw3tE0tPApwCClMdi9L3i/6wv8fhPs6j4/85+ogi7k1qXdPJ4rwipcA8FVC14wTJbA7mJXvgQ4qnaZCpI7FRb7vQpSSHkNyng4nlM0335C8zOCeg==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<br>






