"<div class='row social_share' id='sharing_box'><div class='col-md-4 col-md-offset-4 row text-center'><p>Share this video on:<p><a href='https://www.facebook.com/sharer/sharer.php?u=<%= url %>&t=<%= title %>' title='Share on Facebook' target='_blank' class='btn btn-facebook'><i class='fa fa-facebook'></i></a><a href='http://twitter.com/home?status=<%= title %> <%= url %>' title='Share on Twitter' target='_blank' class='btn btn-twitter'><i class='fa fa-twitter'></i></a><a href='//www.reddit.com/submit?url=<%= url %>' title='Share on Reddit' target='_blank' class='btn btn-reddit'><i class='fa fa-reddit'></i></a></div></div>"
