/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


h1 {
	color: white;
} 

h2 {
padding-bottom: 35px;
  text-align:center;
	color: white;
} 

h3 {
	text-align: center;
}

h4{
	color: white;
}

p{
	color: gray;
}

header {
  text-align:center;
}

.show_page_title h2{
padding-bottom: none;
margin-bttom: none;
  color: white;
}

body {
	padding-top: 0px;
	background: #2B2B2B;
	
	 }

.navbar .btn-navbar {
  border:0px;
}

.navbar-inverse {
  background-color: #222;
  border-color: #222;
}




footer {
  color: gray;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  &:hover, &.active {
    color: gray;
    background: none;
    text-decoration: none;
 }
}

.sharp {
  border-radius:0;
}

.form-control-gray:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
} 

.page_info{
	color: gray;
}

.admin ul {
	color: white;
}

