// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




p {
	text-align: center;
}

h2 {
	text-align: center;
	padding-bottom: 35px;
}

.navbar-default {
	margin-bottom: 0px;
}

.list_line_even {
	
	margin-top: none;
	background: #FFF;
	border-right: 1.9px solid #E1E8ED;
	border-left: 1.9px solid #E1E8ED;
	border-bottom: 1.9px solid #E1E8ED; 

}

.list_line_odd {
	
	background: #FFF;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	border: 1.9px solid #E1E8ED;
	
}

.post-options li{

	font-size: 12px;
	display: inline !important;
}

.post-options a, .post-options a:visited{
	color: #gray;
}
.post-options a:hover{
	color: red;
	background: none;
}

.video-post{
	
	margin-top: none;
	margin-bottom: none;

}


.sort-active{
	font-weight: bold;
	text-decoration: none;
}

.pagination{	
	text-decoration: none;
	font-size: 20px;
}

.post_list {
	margin-bottom: 30px;
}

.insta_embed {
  max-width: 500px;
  margin: 0 auto;
}

.gif_img {
	max-height: 600px;
	text-align: center;
	img {
		max-height: 600px;
	}
}

#urlFormattingList {
	span {
		font-weight: 700;
	}
}

.reply_form {
	display: none;
}

.child_comment {
	margin-left: 40px;
}

.reply_button {
	margin-top: -30px;
}

.comment_options {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: -10px;
	li {
		display: inline;
	}
}