// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




p {
	text-align: center;
}

h2 {
	text-align: center;
	padding-bottom: 35px;
}

.navbar-default {
	margin-bottom: 0px;
}

label {
	color: gray;
}


.list_line_even {
	
	margin-top: none;
	background: #E4E4E4;
	border-right: 1.9px solid #2B2B2B;
	border-left: 1.9px solid #2B2B2B;
	border-bottom: 7px solid #2B2B2B;

}

.list_line_odd {
	
	background: #E4E4E4;
	border-right: 1.9px olid #2B2B2B;
	border-left: 1.9px olid #2B2B2B;
	border-bottom: 7px solid #2B2B2B;
	
}

.post-options {
	padding: 0;
	margin: 7px 0;
	text-decoration: none;

	li {
		font-size: 14;
		font-weight: bold;

		display: inline !important;	
	}
}

.post-options a, .post-options a:visited{
	color: #333333;
	text-decoration: none;
}
.post-options a:hover{
	color: gray;
	background: none;
	
}

.video-post{
	
	margin-top: none;
	margin-bottom: none;

}


.sort-active{
	font-weight: bold;
	text-decoration: none;
}

.pagination{	
	font-size: 16px;
	
}

.pagination-centered {
  text-align: center;
}

.post_list {
	margin-bottom: 30px;
}

.insta_embed {
  width: 612px;
  margin: 0 auto;
}

.gif_img {
	max-height: 600px;
	text-align: center;
	img {
		max-height: 600px;
	}
}

#urlFormattingList {
	span {
		font-weight: 700;
	}
}

.reply_form {
	display: none;

}

.child_comment {
	margin-left: 40px;
}

.reply_button {
	margin-top: -30px;
}

.comment_options {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: -10px;
	li {
		display: inline;
	}
}

.tag_list {
	margin: 7px 0;
	padding-right: 30px;
}

.content_header_right {
  position: absolute;
  top: 26px;
  right: 32px;
}

.smaller_post_show {
	max-width: 615px;
	.vote_buttons {
		width: 50%;
	}
}

.post_share_buttons {
	color: #gray;
	cursor: pointer;
	&:hover, &.active {
    color: gray;
    background: none;
    text-decoration: underline;
	}
}

.dropdown{

margin-left: -43px;
}

.well{
	margin-right: 50px;
}


.video_display_center {
	margin: 0 auto;
}

.form1 ul {
	color:gray;
}

.tag-dropdown-button{
	margin-right: 10px;
}