// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* typography */



h1 {
  font-color: #777777;
  font-size: 12px;
  padding-bottom: 15px;
  letter-spacing: -1px;
  margin-bottom: 35px;
  text-align: center;
}

h4 {
	padding-top: 20px;
	padding-bottom:5px;
}