<footer>
<a href="https://twitter.com/tapedek_media" class="twitter-follow-button text-center" data-show-count="false" data-show-screen-name="false">Follow @tapedek_media</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class= "text-center">a DKC production</div>
<div class= "textcenter">tapedek © 2015 </div>

</footer>